


body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #ffffff;
    text-align: left;
    background-color: #f8fafc;
}
//Search table css

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #000000;
}
.table-bordered {
    border: 3px solid #000000e8;
}


.table {
  background-color: #d0bfbf;
}




.w3{

  margin-top: 30px;
	padding:40px;
	width: 100%;
  background-color: #000;
  color: #9e9e9e;
	text-align: center;
	left: 0;
  bottom: 0;
}

.navbar{
  background-color: black;
  color: yellow;
}

.card{

  background-color: #7d7979;
  color: black;
}

.card-header{

  background-color: #ffeb3b;
  color: black;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: inherit;
    background-color: #eee;
}




.card-login {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #000000b8;
        color: #ffff00;
        background-clip: border-box;
        border: 3px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        max-width: 700px;
        margin:auto;
    }


.card-header-login {
  text-align: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: yellow;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}



.w3-bar{
 background-color: #3330;
 color: #ffffff;;
 width: 100%;
    border-radius: 0px;
    z-index: 999;
    padding: 5px 0px;
    margin-bottom: 0px;

}

.logo1 {
    font-weight: 900;
    font-size: 40px;
    color: #ffffff !important;
    letter-spacing: 3px;

}

.navbar-brand1 {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 35px;
    font-family: Hoefler;
    line-height: 20px;
}

.w3-hover-opacity {
	cursor: pointer;

	}
